<!--<div class="login-wrapper"></div>-->
<!--<form class="login">-->

<!--    <input type="text" [(ngModel)] = "credentials.email" placeholder="username" name="username">-->
<!--    <input type="text" [(ngModel)] = "credentials.password" placeholder="password" name="password">-->
    
<!--    <button type="submit" (click) = "login()">Login</button>-->

<!--</form>-->

<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Stockathon
        </section>
        <div class="login-group">
            <input class="email" type="text" [(ngModel)] = "credentials.email" placeholder="email" name="email"> <br>
            <input class="password" type="password" id="login-passwords" [(ngModel)] = "credentials.password" placeholder="password" name="password">
            <button type="submit" class="btn btn-primary" (click) = "login()">LOGIN</button>
        </div>
    </form>
</div>