<div style="display: flex; justify-content: space-between">
<div  style="display: flex; flex-direction: column; justify-content: center; padding-right: 10px; border-right: 1px solid black; margin-left: 20px;">
<input style="width: 200px; height: 50px; text-align: center; font-size: 200%; position: relative; right: 20px; margin-bottom: 5px" class="search_input" type="text" name="abbreviation" [(ngModel)] = "abbreviation.ticker">
<button style="position: relative; right: 15px;" class="btn btn-primary" (click)="onSearch()">Search</button>
<button style="position: relative; right: 15px;" class="btn btn-primary" (click)="onAdd()">Add to Favorites</button>
</div>
<br>
<br>

  <div>
    <div style="display: flex; justify-content: center" *ngIf="lineChartLabels.length > 0">
    <canvas baseChart *ngIf="lineChartData" width="700" height="350"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                 ></canvas>
    </div>
  </div>
  <br>
</div>
  <div style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
  </div>



