<div class="buttonChartContainer">
  <div class="trendInputButtonContainer">
    <input class="search_input" type="text" name="abbreviation" [(ngModel)]="abbreviation.ticker">
    <button class="btn btn-primary sidenavButtons" (click)="checkIsRealStock('search')">Search</button>
    <button class="btn btn-primary sidenavButtons" (click)="checkIsRealStock('addToFavorites')">Add to
      Favorites</button>
  </div>
  <br>
  <br>


  <div style="display: flex; justify-content: center" *ngIf="lineChartLabels.length > 0">
    <canvas baseChart *ngIf="lineChartData" width="700" height="350" [datasets]="lineChartData"
      [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </div>

  <br>
</div>
<div style="margin-bottom: 10px">
  <table class="table table-responsive table-condensed">
    <tr>
      <th *ngFor="let label of lineChartLabels">{{label}}</th>
    </tr>
    <tr *ngFor="let d of lineChartData">
      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
    </tr>
  </table>
</div>