<h1 class="trendDescription">Use this page to search for a company's stock value from the past twelve months up until
    the current month</h1>
<br><br>
<div id="buttonChartContainer">
    <div id="trendInputButtonContainer">
        <input id="search_input" type="text" name="abbreviation" [(ngModel)]="abbreviation">
        <button class="btn btn-primary sidenavButtons" (click)="searchMonthlyData()">Search</button>
    </div>
    <br><br>
    <div>
        <!-- This canvas is wrapped in this div because the outer div formats the canvas text correctly -->
        <canvas id="chart" baseChart *ngIf="lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
    </div>
    <br>
</div>
<div id="tableContainer">
    <table class="table table-responsive table-condensed">
        <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr>
            <td *ngFor="let closingNumber of closingNumbers">{{closingNumber}}</td>
        </tr>
    </table>
</div>
